<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">

    <title>Traffic Recorder Dashboard</title>
</head>
<body>
    <h1>Traffic Recorder Dashboard</h1>

    <p id="battery_voltage"> </p>
    <script>
    function updateBatteryVoltage() {
        fetch('/telem/battery_voltage')
        .then(response => response.text())
        .then(data => {
            document.getElementById('battery_voltage').innerText = `Battery voltage: ${data}`;
        })
    }
    setInterval(updateBatteryVoltage, 1000);
    </script>

    <p id="disk_usage"> </p>
    <script>
    function updateDiskUsage() {
        fetch('/telem/disk_usage')
        .then(response => response.text())
        .then(data => {
            document.getElementById('disk_usage').innerText = `Disk space remaining: ${data}GB`;
        })
    }
    setInterval(updateDiskUsage, 1000);
    </script>

    <h2>Recorder</h2>
    <p id="is_recording"> </p>
    <script>
    function updateIsRecording() {
        fetch('/telem/is_recording')
        .then(response => response.text())
        .then(data => {
            const button = document.getElementById('is_recording');
            const isRecording = data.trim().toLowerCase() === "true"; // Convert string to boolean
            if (isRecording) {
                button.innerText = "On"
                button.style.color = "green"; // Text color for better readability
            } else {
                button.innerText = "Off"
                button.style.color = "red"; // Text color for better readability
            }
        })
    }
    setInterval(updateIsRecording, 1000);
    </script>

    <button id="on_button" onclick="fetch('/control/start_recording')"> Start </button>
    <button id="off_button" onclick="fetch('/control/stop_recording')"> Stop </button>
    <br>
    <br>
    <br>
    <h2>Snapshot</h2>
    <button id="on_button" onclick="fetch('/control/update_snapshot')"> Update </button>
    <br>
    <br>
    <img id="event_snapshot" class="snapshot" src="/telem/event_snapshot.bmp" width="640">
    <script>
        function updateImage() {
            var img = document.getElementById('event_snapshot');
            var timestamp = new Date().getTime();
            img.src = "/telem/event_snapshot.bmp?time=" + timestamp;
        }
        setInterval(updateImage, 500);
    </script>
    <br>
    <img id="video_snapshot" class="snapshot" src="/telem/video_snapshot.jpg" >
    <script>
        function updateImage() {
            var img = document.getElementById('video_snapshot');
            var timestamp = new Date().getTime();
            img.src = "/telem/video_snapshot.jpg?time=" + timestamp;
        }
        setInterval(updateImage, 500);
    </script>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <img src="/static/earth.gif" width="10%">
    <br>
    Made in Sweden

</body>
</html>
