<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">

    <title>Traffic Recorder Dashboard</title>
</head>
<body>
    <h1>Traffic Recorder Dashboard</h1>
    <h1 id="error"></h1>
    <script>
    function updateError() {
        fetch('/telem/has_error')
        .then(response => response.text())
        .then(data => {
            const dom = document.getElementById('error');
            const error = data.trim().toLowerCase() === "true"; // Convert string to boolean
            if (error) {
                dom.innerText = "ERROR IN RECORDING PROCESS"
                dom.style.color = "red"; // Text color for better readability
            } else {
                dom.innerText = ""
            }
        })
    }
    setInterval(updateError, 1000);
    </script>

    <p id="battery_voltage"> </p>
    <script>
    function updateBatteryVoltage() {
        fetch('/telem/battery_voltage')
        .then(response => response.text())
        .then(data => {
            volt = document.getElementById('battery_voltage')
            volt.innerText = `First battery voltage: ${data}V`;
            if (Number(data) <= 6.5) {
                volt.style.color = "red"
            } else {
                volt.style.color = "black"
            }
        })
    }
    setInterval(updateBatteryVoltage, 1000);
    </script>

    <p id="battery_voltage2"> </p>
    <script>
    function updateBatteryVoltage() {
        fetch('/telem/battery_voltage2')
        .then(response => response.text())
        .then(data => {
            volt = document.getElementById('battery_voltage2')
            volt.innerText = `Second battery voltage: ${data}V`;
            if (Number(data) <= 6.5) {
                volt.style.color = "red"
            } else {
                volt.style.color = "black"
            }
        })
    }
    setInterval(updateBatteryVoltage, 1000);
    </script>

    <p id="disk_usage"> </p>
    <script>
    function updateDiskUsage() {
        fetch('/telem/disk_usage')
        .then(response => response.text())
        .then(data => {
            disk = document.getElementById('disk_usage')
            disk.innerText = `Disk space remaining: ${data}GB`;
            if (Number(data) < 100) {
                disk.style.color = "red"
            } else {
                disk.style.color = "black"
            }
        })
    }
    setInterval(updateDiskUsage, 1000);
    </script>

    <div class="inline-container">
        <button id="on_button" onclick="fetch('/control/start_recording')"> Start </button>
        <button id="off_button" onclick="fetch('/control/stop_recording')"> Stop </button>
        <p style="font-size: 32px; font-weight: bold;">Recorder <span id="is_recording"> </span></p>
        <script>
        function updateIsRecording() {
            fetch('/telem/is_recording')
            .then(response => response.text())
            .then(data => {
                const button = document.getElementById('is_recording');
                const isRecording = data.trim().toLowerCase() === "true"; // Convert string to boolean
                if (isRecording) {
                    button.innerText = "On"
                    button.style.color = "green"; // Text color for better readability
                } else {
                    button.innerText = "Off"
                    button.style.color = "red"; // Text color for better readability
                }
            })
        }
        setInterval(updateIsRecording, 1000);
        </script>
    </div>
    <br>
    <div class="inline-container">
        <button id="on_button" onclick="fetch('/control/update_snapshot')"> Update </button>
        <p style="font-size: 32px; font-weight: bold;">Snapshot</p>
    </div>

    <br>
    <img id="event_snapshot" class="snapshot" src="/telem/event_snapshot.bmp" width="640">
    <script>
        function updateImage() {
            var img = document.getElementById('event_snapshot');
            var timestamp = new Date().getTime();
            img.src = "/telem/event_snapshot.bmp?time=" + timestamp;
        }
        setInterval(updateImage, 500);
    </script>
    <br>
    <img id="video_snapshot" class="snapshot" src="/telem/video_snapshot.jpg" >
    <script>
        function updateImage() {
            var img = document.getElementById('video_snapshot');
            var timestamp = new Date().getTime();
            img.src = "/telem/video_snapshot.jpg?time=" + timestamp;
        }
        setInterval(updateImage, 500);
    </script>
    <br>
    <br>
    <br>
    <br>
    <img src="/static/kth.jpg" class="logo">
    <p style="font-size: 20px;">Made at KTH, NCS lab, 2024</p>

</body>
</html>
